.Navigation {
    display: flex;
    background-color: rgb(68, 82, 82);
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 100%;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
ul li {
    padding: 30px;
}